body {
    font-family: Arial, sans-serif;
    background: #ffffff;
    color: #000;
    margin: 40px;
}
.container {
    max-width: 800px;
    margin: auto;
}
h1 {
    text-align: center;
    margin-bottom: 5px;
}
h2 {
    text-align: center;
    font-weight: normal;
    margin-top: 0;
}
hr {
    border: 0;
    border-top: 1px solid #000;
    margin: 15px 0;
}
.contact {
    text-align: center;
    font-size: 14px;
}
.section-title {
    font-weight: bold;
    margin-top: 20px;
    text-transform: uppercase;
}
.content {
    margin-top: 8px;
    font-size: 15px;
}
ul {
     margin-top: 5px;
}
li {
    margin-bottom: 5px;
}
.bold {
    font-weight: bold;
}